
@{
    ViewBag.Title = "ShowApiResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowApiResult</h2>


<dl>
    @foreach (var claim in ViewBag.Json)
    {
        <dt>@claim.type</dt>
        <dd>@claim.value</dd>
    }
</dl>
